// Variables
$border-color: lightgray;
$gradient-border: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

.dark .sidebar {
  img {
    filter: invert(1) brightness(2);
  }
}

// Story styles
.story-row {
  display: flex;
  align-items: center;
  padding: 10px;

  .story {
    margin-right: 22px;

    .add-story .plus-icon {
      width: 13px;
      height: 13px;
      display: block;
      margin: auto;
      margin-top: 6px;
      background: url('../images/action-icons/plus.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .story-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // border: 2px solid $border-color;
    background: linear-gradient(45deg, #ff00ff, #ff8c00);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      padding: 2px;
    }
  }

  .new-story {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid $gradient-border;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .next-button {
    font-size: 24px;
    cursor: pointer;

    .circle {
      border: none;
      background: #EFEFEF;
      font-size: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;

      .next-icon {
        background: url('../images/action-icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 5px;
        height: 12px;
      }

      .back-icon {
        background: url('../images/action-icons/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 5px;
        height: 12px;
      }
    }
  }
}

.suggestions {
  background-color: #EFEFEF;
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px;

  .suggestions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;

    a {
      font-size: 14px;
      color: #000;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .suggestions-list {
    .suggestion-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      .suggestion-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      .suggestion-username {
        flex-grow: 1;
        margin-left: 10px;
        font-weight: 500;
        color: #333;
        cursor: pointer;
      }

      .follow-link {
        color: #4C77E2;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.posts {
  .avatar-post-div {
    background: linear-gradient(45deg, #ff00ff, #ff8c00);
  }

  .post-more {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 22px;

    .post-more-icon {
      width: 100%;
      height: 100%;
      display: block;
      background: url('../images/action-icons/more-post.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .show-all-comments {
    background: white;
    border: 1px solid;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;

    p {
      color: #9A9A9A;
      font-weight: 500;
    }
  }

  .action-div {
    border: 1px solid #CFCFCF;
  }

  .post-commant {
    background: url('../images/action-icons/commant.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .post-save {
    background: url('../images/action-icons/save.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .post-like {
    background: url('../images/action-icons/like.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .post-share {
    background: url('../images/action-icons/share.svg');
    background-repeat: no-repeat;
    // background-size: contain;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.create-icon {
  background: url('../images/action-icons/create.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.action-icon {
  background: url('../images/action-icons/action.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
}

.action-icon-bold {
  background: url('../images/action-icons/action-bold.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

.arrow-right-white {
  background: url('../images/action-icons/arrow-right-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.arrow-left-white {
  background: url('../images/action-icons/arrow-left-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

// inbox style

.inbox {
  .msg-search-icon {
    background: url('../images/action-icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
  }

  @media (max-width:800px) {
    .inbox-msg {
      padding-left: 5px !important;
    }

    .inbox-side {
      width: 270px !important;
    }
  }

  @media (max-width:600px) {
    .inbox-msg {
      padding-left: 15px !important;
    }
  }

  .camera-icon {
    background: url('../images/camera.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .inbox-side {
    .inbox-head-icon {
      display: none;
    }

    @media (max-width:750px) {
      width: 100px !important;

      .inbox-head-icon {
        display: flex;

        .icon {
          width: 100%;
          height: 100%;
          background: url("../images/action-icons/inbox-msg.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: block;
        }
      }

      .inbox-find,
      .inbox-head .inbox-head-text {
        display: none;
      }

      .inbox-head {
        margin-top: 6px;
        justify-content: center;

        .inbox-head-icon {
          width: 34px;
          height: 34px;
        }
      }

      .inbox-user-img {
        width: 46px;
        height: 44px;
      }

      .inbox-user-detail {
        display: none !important;
      }
    }
  }

  .hide-inbox {
    display: none !important;
  }

  .show-inbox {
    display: block !important;
    width: 100% !important;

    .inbox-side {
      width: 100% !important;

      .inbox-head-text {
        display: block !important;
      }

      .inbox-head-icon {
        display: none !important;
      }

      .inbox-find {
        display: block !important;
      }

      .inbox-user-detail {
        display: block !important;
      }
    }
  }

  .show-chat {
    display: flex !important;
    width: 100% !important;
  }

  .hide-chat {
    display: none !important;
  }
}

.bg-story {
  background: linear-gradient(45deg, #ff00ff, #ff8c00);
}

.thin-scrollable {
  scroll-behavior: smooth;

  /* Custom scrollbar styling */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  /* Wrap the declaration in & {} to avoid deprecation warning */
  & {
    /* Firefox scrollbar */
    scrollbar-width: thin;
    /* Thin scrollbar for Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* Thumb color and track color */
  }
}

.user-bg-active {
  background: rgb(229 229 229);
  border-radius: 0px !important;
}

.dark .user-bg-active {
  background: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.explore {
  .search-icon {
    background: url('../images/action-icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
  }

  .icon-reel-white {
    background: url('../images/action-icons/reel-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }

  .icon-multiple-white {
    background: url('../images/action-icons/more-post.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }

  .icon-comment {
    background: url('../images/action-icons/comment-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }

  @media (max-width:1130px) {
    .grid-res {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width:990px) {
    .explore-cta {
      flex-direction: column;

      .explore-tabs {
        margin: 0px;
        margin-top: 18px;
      }
    }
  }

  @media (max-width:900px) {
    .grid-res {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.profile {
  .icon-comment {
    background: url('../images/action-icons/comment-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }

  .icon-reel-white {
    background: url('../images/action-icons/reel-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }

  .icon-multiple-white {
    background: url('../images/action-icons/more-post.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
  }
}

.active-icon {
  filter: brightness(0) saturate(100%) invert(0);
}

.dark .action-dropdown {
  .css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background: #1c1c1c !important;
  }

  .css-1h4bzp1-MuiButtonBase-root-MuiMenuItem-root {
    &:hover {
      background-color: rgb(0 0 0 / 18%);
    }
  }
}

.action-dropdown {
  .css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    top: 76px !important;
    height: 404px;
    width: 266px;
    border-radius: 17px;
  }

  .css-99wn1p-MuiList-root-MuiMenu-list {
    padding: 12px;
  }

  .css-1h4bzp1-MuiButtonBase-root-MuiMenuItem-root {
    padding: 16px;
    width: 100%;
    border-radius: 10px;

    svg {
      font-size: 18px;
      color: #000;
    }

    span {
      color: #000;
      font-size: 14px;
    }
  }
}

// notification-drawer
.notification-drawer-w {
  .css-eydqou-MuiPaper-root-MuiDrawer-paper {
    background: #EFEFEF;
  }
}

.notification-drawer-w {
  .css-eydqou-MuiPaper-root-MuiDrawer-paper {
    background: #1C1C1C;
  }
}